/* Highlights and Transitions*/
::selection {
  background: #C1F3F0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #C1F3F0; /* Gecko Browsers */
}

/* Highlights and Transitions End*/

body {
	font-family: 'Amiko', sans-serif;
	color: #383737;
}

a{
	text-decoration: none;	
	color: #383737;
}

a:visited{
	color: #383737;
}

.transition a{
	color: #EE888D;
}

.body-wrapper{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

/* ---------------------------- */

.navigation{
	text-align: center;
}

.work{
	display: inline-block;
	font-size: 16px;
}

.work:hover{
	color: #6BB0E0;
	cursor: pointer;
}

.space{
	display: inline-block;
	width: 10px;
}

.about{
	display: inline-block;
	font-size: 16px;
}

.about:hover{
	color: #6BB0E0;
	cursor: pointer;
}

.space{
	display: inline-block;
	width: 10px;
}

.resume{
	display: inline-block;
	font-size: 16px;
}

.resume:hover{
	color: #6BB0E0;
	cursor: pointer;
}
/* ---------------------------- */

.body {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.header{
	margin-top: 36px;
	margin-bottom: 0px;
	font-family: 'Slabo 27px', serif;	
	font-size: 36px;
	letter-spacing: 3px;
	text-align: center;
}

.subheader{
	font-size: 20px;
	margin-top: 10px;
}


.description{
	margin-top: 10px;
	font-size: 14px;
	line-height: 28px;
}


.grid{
	margin-top: 10px;
	width: 700px;
}

.project_image{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-right: 3.5px;
	padding-bottom: 2px;
	width: 30%;
	cursor: pointer;
}

.grid2{
	margin-top: 10px;
}

.project_image2{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-right: 3.5px;
	padding-bottom: 2px;
	width: 50%;
	cursor: pointer;
}

