/* Highlights and Transitions*/
::selection {
  background: #C1F3F0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #C1F3F0; /* Gecko Browsers */
}

/* Transition Key Frames */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Highlights and Transitions End*/

body {
	font-family: 'Amiko', sans-serif;
	color: #383737;
}

a{
	text-decoration: none;	
	color: #383737;
}

a:visited{
	color: #383737;
}

.text .links{
	color: #6BB0E0;
}

.body-wrapper{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.transition{
	-webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;	
}



/* ---------------------------- */

.navigation{
}


.work{
	display: inline-block;
	font-size: 16px;
}

.work:hover{
	color: #6BB0E0;
	cursor: pointer;
}

.space{
	display: inline-block;
	width: 10px;
}

.about{
	display: inline-block;
	color: #6BB0E0;
	font-size: 16px;
}

.about:hover{
	color: #6BB0E0;
	cursor: pointer;
}

/* ---------------------------- */
.photo-wrapper{
	text-align: left;
	margin-top: 80px;
	width: 55%;
	float: left;
}

.photos{
	display: block;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-left: 3px;
	padding-right: 3px;
	float: left;

}

.text{
	width: 42%;
	margin-top: 30px;
	font-size: 14px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

}

.button{
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	margin-top: 30px;
	font-size: 12px;
	margin-bottom: 80px;
	border: 1px solid #383737;
	background-color: #383737;
	color: white;
}

.button:hover{
	cursor: pointer;
	border: 1px solid #777777;
	background-color: #777777;
	color: white;	
    -webkit-transition: .5s;		
}
}
.clearfix{
	clear:both
/* ---------------------------- */
.width{
	margin-top: 70px;
	border-bottom: 1px solid #E9E9E9;
	width: 100%;
}


.social-media{
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

.link{
	display: inline-block;
	color: #969696;
	font-size: 12px;
	letter-spacing: .5px;
	margin-left: 12.5px;
	margin-right: 12.5px;
}

.link:hover{
	cursor: pointer;
	color: #383737;
}